taiohttp==3.8.4
aiosignal==1.3.1
annotated-types==0.5.0
anyio==3.7.1
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
autopep8==1.7.0
black==23.9.1
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.1.0
click==8.1.7
coverage==6.5.0
dateparser==1.1.8
distlib==0.3.6
Django==4.2.1
dnspython==2.4.2
docutils==0.20.1
email-validator==2.0.0.post2
engineering-notation==0.9.0
fastapi==0.103.1
filelock==3.12.0
flake8==5.0.4
Flask==2.3.3
frozenlist==1.3.3
h11==0.14.0
httpcore==0.16.3
httptools==0.6.0
httpx==0.23.3
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
lockfile==0.12.2
Markdown==3.4.4
MarkupSafe==2.1.3
mccabe==0.7.0
mock==5.1.0
multidict==6.0.4
mypy-extensions==1.0.0
node==1.2.1
note==0.5.2
odict==1.9.0
openai==0.27.6
orjson==3.9.5
packaging==23.1
pathspec==0.11.2
pipenv==2023.4.29
platformdirs==3.5.0
pluggy==1.3.0
plumber==1.7
pycodestyle==2.9.1
pydantic==2.3.0
pydantic-extra-types==2.1.0
pydantic-settings==2.0.3
pydantic_core==2.6.3
pyflakes==2.5.0
pymongo==4.5.0
pytest==7.4.0
pytest-cov==3.0.0
python-daemon==3.0.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
python-telegram-bot==20.2
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
regex==2023.8.8
requests==2.29.0
rfc3986==1.5.0
ships-list @ file:///Users/dmitriychebruchan/programming/shipslist/dist/ships_list-0.1.0-py3-none-any.whl#sha256=985565351ce534c2a76adeda4043d1ffbfd8f3a2860de2a3617814ebed258468
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
starlette==0.27.0
Tcl==0.2
telegram==0.0.1
tk==0.1.0
tk-tools==0.16.0
toml==0.10.2
tornado==6.3.3
tqdm==4.65.0
typing_extensions==4.7.1
tzlocal==5.0.1
ujson==5.8.0
urllib3==1.26.15
uvicorn==0.23.2
uvloop==0.17.0
virtualenv==20.23.0
virtualenv-clone==0.5.7
watchfiles==0.20.0
websockets==11.0.3
Werkzeug==2.3.7
yarl==1.9.2
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==5.4
zope.interface==6.0
zope.lifecycleevent==5.0
zope.proxy==5.0.0
